/* Estilos generales */
body {
    background-color: #000000; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Imagen del logo */
img {
    margin-top: 20px;
    width: 500px; 
    animation: fadeIn 2s ease-in-out;
}

/* Contenedor de botones */
.buttons {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 50px;
}

/* Botones */
.buttons button {
    margin: 10px;
    padding: 15px 30px; 
    font-size: 20px; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    transition: background-color 0.1s ease;
    box-shadow: 0 2px 4px rgba(251, 1, 1, 0.974);
}

/* Cambio de color al pasar el mouse */
.buttons button:hover {
    background-color: #ff0000;
}

/* Animación de entrada */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
